@using Entity.Entities
@model Entity.Entities.Member

@{
    ViewData["Title"] = "Add Member";
    Layout = "~/Views/Shared/_MasterView.cshtml";
}

<div class="card">

    <div class="card-body">

        <form asp-action="UpdateMember">
            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Üye Güncelle</legend>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">İsim</label>
                    <div class="col-lg-6">
                        <input asp-for="Firstname" type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Soyisim</label>
                    <div class="col-lg-6">
                        <input asp-for="Surname" type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Kimlik No</label>
                    <div class="col-lg-6">
                        <input asp-for="IdentityNumber" type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Adres</label>
                    <div class="col-lg-6">
                        <input asp-for="Address" type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Telefon</label>
                    <div class="col-lg-6">
                        <input asp-for="PhoneNumber" type="text" class="form-control">
                    </div>
                </div>



                @*                 <div class="form-group row">
                <label class="col-form-label col-lg-2">Kitap Türü</label>
                <div class="col-lg-6">
                @Html.DropDownList("BookType",new SelectList(ViewBag.BookTypes, "Value", "Text"), "Lütfen kitap türü seçiniz",new { @id = "ddlBookTypes",@class="form-control" })
                </div>
                </div> *@



            </fieldset>

            <div class="text-right">
                <button type="submit" class="btn btn-dark" style="font-size:larger">Kaydet <i class="icon-floppy-disk ml-2"></i></button>
            </div>
        </form>
    </div>
</div>

