@using Entity.Entities
@model Entity.Entities.Author

@{
    ViewData["Title"] = "Update Author";
    Layout = "~/Views/Shared/_MasterView.cshtml";
}

<div class="card">

    <div class="card-body">

        <form asp-action="UpdateAuthor">
            <fieldset class="mb-3">
                <legend class="text-uppercase font-size-sm font-weight-bold">Yazar Güncelle</legend>

                <div class="form-group row">
                    <label class="col-form-label col-lg-2">Yazar Adı</label>
                    <div class="col-lg-6">
                        <input asp-for="Name" type="text" class="form-control">
                    </div>
                </div>  


            </fieldset>

            <div class="text-right">
                <button type="submit" class="btn btn-dark" style="font-size:larger">Kaydet <i class="icon-floppy-disk ml-2"></i></button>
            </div>
        </form>
    </div>
</div>

